
p {
    color: red;
    letter-spacing: 0.5em;
    word-spacing: 2em;
    line-height: 1.5;
    text-align: center;
}

a {
    color: blue;
    text-decoration: none;
}

body {
	font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: navy;
    width: 80%;
}
    
h1 {
    color: #ffc;
    background-color: #009;
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}
